main{
    padding-bottom: 150px;
}

main footer div{
    display: block;
    margin-top: 50px;
    padding-top: 50px ;
    background-image: url("../../resources/img/main_footer_decoration.jpg");
    background-size: contain;
}

main footer p{
    margin-top: 5px;
    text-align: center;
    font-style: italic;
    box-shadow: 5px 5px 5px rgba(84, 85, 1, 0.438); 
}